*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
}

.container{
    background-color: #F1F5F9;
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid black;
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    background: #0F172A;
    border-radius: 10px;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.card .heading h1{
    text-align: center;
    font-size: 34px;
}
.inputField{
    /* border: 1px solid white; */
    display: flex;
    gap: 1rem;


}
#main-text-input{
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
#main-text-input:focus{
    border: none;
    outline: 2px solid #38BDF8;
}

.card .heading .inputField button{
    background: #38BDF8;
    border: none;
    outline: none;
    padding: 0px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
}


.card .heading .inputField button:hover{
  transform: scale(1.05);
}

ul{
   display: flex;
   flex-direction: column;
   gap: .5rem;
}
li{
    background: #ffffff17;
    list-style-type: none;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-btns{
    display: flex;
    gap: .5rem;
}

.list-btns button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}

.edit{
    background-color: rgb(41, 201, 68);
}

.delete{
    background-color: rgb(255, 45, 45);
}

.save{
    background-color: rgba(70, 70, 255, 0.432);
    display: none;
}



#todo-update-text-input{
    height: 3rem;
    width: 50%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    display: none;
}
#todo-update-text-input:focus{
    border: none;
    outline: 2px solid #38BDF8;
}